@import url('https://fonts.googleapis.com/css?family=Calligraffitti');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');


body {
    font-family: 'Calligraffitti', sans-serif;
    background-color: hsl(0, 1%, 90%);
}

input {
    font-family: inherit;
}

.nav-bar {
  font-size: 1em;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  font-style: italic;
  color: white;
}

.title {
  font-family: 'Permanent Marker', sans-serif;
  font-size: 3rem;
  font-weight: bold;
  color: white;
}